---
http_interactions:
- request:
    method: get
    uri: https://cdm16022.contentdm.oclc.org/digital/iiif/p16022coll122/0/info.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oclc-Iiif-Provider:
      - cantaloupe
      Content-Type:
      - application/json
      Etag:
      - '"035c5900378e88f8a2c5342c0ceaf425a-gzip"'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@context": "http://iiif.io/api/image/2/context.json",
          "@id": "https://cdm16022.contentdm.oclc.org/digital/iiif/p16022coll122/0",
          "height": 4961,
          "width": 2115,
          "profile": [
            "http://iiif.io/api/image/2/level1.json"
          ],
          "protocol": "http://iiif.io/api/image",
          "tiles": [
            {
              "scaleFactors": [
                1,
                2,
                4,
                8,
                16
              ],
              "width": 1024
            }
          ],
          "sizes": [
            {
              "width": 2115,
              "height": 4961
            },
            {
              "width": 1058,
              "height": 2481
            },
            {
              "width": 529,
              "height": 1240
            },
            {
              "width": 264,
              "height": 620
            },
            {
              "width": 132,
              "height": 310
            }
          ]
        }
  recorded_at: Mon, 20 Dec 2021 21:49:48 GMT
recorded_with: VCR 6.0.0
